h1{
  font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #333333;
    line-height: 45px;
    font-size: 32px;
}

p{
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-default);
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-size: 1.125em;
  margin-top: -15px;
}


.free-course-box{
  position: relative;
 display: flex;
 margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.166);
  border-radius: 15px;
}
.free-course-box:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.166);
  cursor:pointer;


}

.free-image{
 
  width: 200px;
}

.white-rabbit-image{
  width: 100%;
  height: 100% ;
  object-fit: cover;
  border-radius: 15px;
  
}

.free-text{
  margin-left: 20px;
}

@media (max-width: 900px){

  .free-course-box{
    position: relative;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 60px;
    padding-top: 20px;
    
  }

  .white-rabbit-image{
    
  }


}

.free{
  position: absolute;
  margin-right: 20px;
  right:15px;
  bottom:10px;
  font-weight: 600;

  font-size: 1.125em;
  letter-spacing: -0.02em;
  color: var(--color-default);
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-size: 1.125em;
  margin-top: -15px;
}