

.home-container{
    
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

@media (max-width:1000px){
  .home-container{
    flex-wrap:wrap-reverse;
  }

  .home-intro{
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.home-intro{
  
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  

}

.home-image{
 
  display: flex;
  justify-content: center;
  
 



}

.profile-image{
  width: 310px;
  border-radius: 10px;
}

@media (max-width:1000px){
  .profile-image{
    width: 370px;
  }
}

.first-intro{
  
}

.second-intro{
  margin-top: 10px;
  align-items: center;

 
}

.third-intro{
  margin-top: 10px;
  align-items: center;


 
}

.middle-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.howicanhelp{
    
    margin-top: 50px;
  
}
.arrow{
    
    margin-top: 7px;
    margin-left: 20px;

}




.footer{
  margin-top:60px;
  background-color: black;
  height:100px;
  width: 100%;
}

