.main-nav{
  height: 50px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font-size: larger;
  align-items: center;
  margin-bottom: 30px;
  
}

.home:hover{
  cursor: pointer;

}
.about:hover{
  cursor: pointer;

}
.courses:hover{
  cursor: pointer;

}